<!--
body {
margin: 0px;	
padding: 0px; 

font-family: Arial, Helvetica, Verdana, Sans-serif;
font-size: 12;
color: #666666;
background: #000000;

}
#header {
  background: #000;
  width: 100%;
}
#leftcol {
  background: #000;
  float: left;
  width: 20%;
  height: 500px;
}
#content {
  background: #000;
  float: right;
  width: 80%;
  height: 500px;
}
#seperator{
  background: #000;
  float: left;
  width: 30px;
  height: 500px;
 }
 #main{
  background: #000;
  float: left;
  width: 77%;
  height: 500px;
 }
 



#leftblue{
  background: #000;
  float: left;
  width: 10px;
  height: 500px;
}

#navdiv{
  background: #000;
  float: left;
  width: 75%;
  height: 500px;
}

#sda{
	float :top;
}
#images{
	float:top;
}
#about{
	float:bottom;
}

p {
   text-align:left;
   color : #fff
  
}

table{
	color: #fff;
}

h3 {
	color: #0099ff;
	}
	
h4 {
	color: #0099ff;
}

-->
</style>