
body, html, p{
  padding: 0px;
  margin: 0px;
  border: 0px none;
  width: 100%;
}

#page-wrapper {
  width:940px;
  margin-left:auto;
  margin-right:auto;
  position:relative;
}

th {
  background-color:#4a70aa;
  color:white;
}

#header {
  background-color: #99CCFF;
  width: 940px;
  border:3px solid #000000;
}

#main-title {
	font-weight:bold;
	font-size:36px;
	margin-top:5px;
	padding:10px;
	text-align:center;
}
#topNav {
	width:940px;
 	border:3px solid #000000;
	background-color:#000;
	height:25px;
}

#topNav-wrapper {
	width:auto;

}
.menu-item {
	float:left;
	margin:0px 10px;
	font-weight:bold;
	font-size:16px;
}
span.item { color:#FFF;
	padding: 4px;}
span.item:hover {
	color: #000000;
	background-color: #FFFFFF;
	text-decoration:none;
}
/*
#topNav.menu-item:link {
	color:#FFF
	text-decoration:none;
}

#topNavTable td p:hover {
  color: #000000;
  background-color: #FFFFFF;
}

#topNavTable p{margin-left: 20px;}

#topNavTable td {
  color: #FFFFFF;
  background-color: #000000;
}


/*#topNavTable p:hover {color:#000000; text-decoration:none;}*/
/*#topNavTable td:hover{background-color: #ffffff; text-decoration:none;}*/
/*
#topNavTable a:link {color:#FFFFFF; text-decoration:none; }   
#topNavTable a:visited {color:#FFFFFF; text-decoration:none;} 
#topNavTable a:active {color:#FFFFFF;text-decoration:none;}  

/* */
a:link {color:#000000;text-decoration:none;}    /* unvisited link */
a:visited {color:#000000;text-decoration:none;} /* visited link */
a:hover {color:#FFFFFF;text-decoration:underline;}   /* mouse over link */
a:active {color:#000000;text-decoration:none;}  /* selected link */

#logindiv{

  width: 400px ;
  height: 200px;
  margin-left: auto ;
  margin-right: auto ;
  text-align: center;
}

#nav{
 float:left;
 height: 250px;
 margin-right:30px;
 width:150px;
}


#navtable{
	border-collapse:collapse;
	background-color:#B8B8B8;
	border:1px solid #000;
	width:150px;
}

#navtable tr {
	border:1px solid #000;
}

#flight-search, #cust-search {
	width:738px;
	background-color:#99CCFF;
	border:1px solid black;
	clear:both;
}

.title-bar {
	background-color:#4a70aa;
	color:white;
	font-weight:bold;
	padding:3px 0px;
	text-align:center;
}
.search-left {
	float:left;
}
.search-right {
	float:right;
}

#searches {
	float:right;
}
#searchtable{
	width:100%;
	float:left;
	border-collapse:collapse;
	background-color:#99CCFF;
	border:1px solid black;
	
}



#displayInfo
{
	border-spacing: 0px;
	border-collapse: collapse;
	width: 100%;

}
#displayInfo th
{
background: #4a70aa;
color: #FFFFFF;
}

#displayInfo tr:nth-child(even) {background-color: #e3f0f7;}
#displayInfo tr:nth-child(odd) {background-color: #99CCFF;}
#displayInfo tr:hover { background-color: #4a70aa; }


#inputData{
	  margin-left: auto ;
     margin-right: auto ;
	border-collapse:collapse;
	background-color:#99CCFF;
	border:2px solid black;
	width:60%;
}
#inputData td {
	padding: 4px;
}

#ResultRefine{
	border-collapse:collapse;
	background-color:#99CCFF;
	float: right;
	border:2px solid black;

}

#error{
border-collapse:collapse;
background-color: #FF9966;
}
#error th{
	background-color: #FF0000;
	color: #000000;
}

#sucessful th{
	background-color: #00FF00;
	color: #000000;
}

#sucessful {
	width: 70%;
	border-collapse:collapse;
	margin-left: auto ;
    margin-right: auto ;
}


#footer {
  background: #000000;
  width: 100%
  height:20px;
  
  clear:both;
}

#disInfo{
 position:relative;
 top:50px;

}

#scheduleContainer{
 position:relative;
 top:50px;

}

#dropdown tr:hover { background-color: #4a70aa; }
</style>
